body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;  /*body ocupa toda la pantalla*/
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    border: solid 2px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {

}